<h2>Prenotazione effettuata: </h2>
<p><b>Data:</b> <%= prenotazione.data %></p>
<p><b>Utente:</b> <%= prenotazione.utente %></p>
<p><b>Problema:</b> <%= prenotazione.problema %></p>
<p><b>Bici:</b> <%= prenotazione.bici %> </p>
<hr>
<br>
<a href="/calendario">Torna indietro</a>