<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/style.css">
    
    

    <title>EBM</title>
</head>
<body>
    
        <style>
            header{
                display: none;
            }
        </style>

        <div class="login-form">
            <h1 class="title">LOGIN</h1>
            <form action="/auth" method="post">
                <input type="text" name="email" id="" placeholder="E-mail">
                <input type="password" name="password" id="" placeholder="Password">
                <div class="pass">Forgot password?</div>
                <input id="accedi-submit" class="button" type="submit" value="Accedi" name="submit" >
                <input id="registrati-submit" class="button" type="submit" value="Registrati" name="submit">
                
            </form>
            
            <% if(locals.error != null){ %>
                <p class="err-message">
                    <%= error %>
                </p>
            <%} %>
            

        </div>
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script type="text/javascript" src="javascripts/script.js"></script>
</body>
</html>