<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 80%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;

      
    }

header a:nth-child(2)::after{
    display: none;
}

header a:nth-child(1){
    position: relative;
}
header a:nth-child(1)::after{
    position: absolute;
    content: "";
    width: 60%;
    height: 2px;
    background-color: white;
    left: 20%;
    bottom: 3px;
}

header a:nth-child(1):hover::after{
    animation: an 1s;
}



</style>
<link rel="stylesheet" href="/public/stylesheets/calendar.css" />
</head>

<body>

  <div class="containter">
    <div class="content">
      <h2>Storico manutenzioni</h2>

<table>    
    <tr>
    <th>Data prenotazione</th>
    <th>Problema</th>
    <th>Bici</th>    
    <th>Cancella</th>
    </tr>
    
<% prenotazione.forEach( p => { %>
  <tr>
    <td><%= p.data.toDateString() %></td> 
    <td><%= p.problema %></td>
    <td><%= p.bici %></td> 
    <% if(p.data > Date.now()){ %>
      <td>
        <form action="/storico/<%= p._id %>" method="POST">
          <button type="submit">Cancella</button>
        </form>
      </td>
    <% } else { %>
      <td></td>  
    <% } %>
  </tr>
<% }) %>

</table>
    </div>
  </div>
</body>