/*==========HEADER =========*/

header a:nth-child(1)::after{
    content: none;
}

header a:nth-child(2){
    position: relative;
}
header a:nth-child(2)::after{
    position: absolute;
    content: "";
    width: 60%;
    height: 2px;
    background-color: white;
    left: 20%;
    bottom: 3px;
}

header a:nth-child(2):hover::after{
    width: 20%;
    transition: .5s;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }