

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}

header{
    display: flex;
    background-color: #ff7782;
    justify-content: right;
    /*z-index: 10;*/
}

header a{
    text-decoration: none;
    color: white;
    padding: 1rem;
    margin: 0 5px;
    font-size: larger;
    font-weight: bold;
}

header a:hover{
    transition: 0.5s;
    transform: scale(1.1);
}



@media only screen and (max-width: 500px){
    header{
        flex-direction: column;
    }
}

