@import url("header.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 
body{
    margin: 0;
    padding: 0;                 
    font-family: 'Poppins', sans-serif;
    background-color: var(--violet);
    /* background: linear-gradient(to bottom right, #fff 0%, #fff 50%, #a48d01 50%, #a48d01 100%); */
}

:root{
    --blue: #287bff;
    --white: #fff;
    --violet: #7380ec;
    --grey: #f5f5f5;
    --black1: #222;
    --black3: rgb(103, 103, 103);
    --black2: rgb(226, 226, 226);
    --red: #ff7782; 
    --gradient:  linear-gradient(45deg, #287bff, #fff);
}

/* HEADER */
header a:nth-child(1){
    position: relative;
}

header a:nth-child(1)::after{
    position: absolute;
    content: "";
    width: 60%;
    height: 2px;
    background-color: white;
    left: 20%;
    bottom: 3px;
}

.container{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-title{
    color: var(--black1);
    margin-bottom: 20px;
    font-size: 2.5rem;
    font-weight: bolder;
}

.profile-box{
    text-align: center;
    background-color: var(--red);
    padding: 40px 90px;
    color: #fff;
    position: relative;
    border-radius: 20px;
}

.profile-content{
    display: flex;
}

.profile-pic{
    width: 150px;
    border-radius: 50%;
    background: #fff;
    padding: 6px;
}

.informations{
    display: flex;
} 

.card{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* .grp{
    background-color: var(--blue);
}

.grp *{
    margin-bottom: 2px;  
} */

.grp{
    /* border: 1px solid red; */
    margin: 2px;
    padding: 1.2rem;
    border-radius: .8rem;
}


.title{
    font-weight: bold;
    font-size: x-large;
    color: var(--black1);
}

.update-info{
    visibility: hidden;
}


/* ANIMATIONS */

header a:nth-child(1):hover::after{
    width: 20%;
    transition: .5s;
}


@media only screen and (max-width: 500px){
    .profile{
        flex-direction: column;
    }

    .informations{
        flex-direction: column;
    }
}
 