<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 80%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
</style>
</head>
<body>
    <h2>Storico manutenzioni</h2>
<table>    
    <tr>
    <th>Data prenotazione</th>
    <th>Utente</th>
    <th>Problema</th>
    <th>Bici</th>    
    <th>Cancella</th>
<!--
    </tr>

    <tr>
    <td>Alfreds Futterkiste</td>
    <td>Maria Anders</td>
    <td>Germany</td> 
    <td>Germany</td>    
    <td><button>Cancella</button></td>

    </tr>
    <tr>
    <td>Centro comercial Moctezuma</td>
    <td>Francisco Chang</td>
    <td>Mexico</td>    
    <td>Germany</td> 
    <td><button>Cancella</button></td>
    </tr>
    <tr>
    <td>Ernst Handel</td>
    <td>Roland Mendel</td>
    <td>Austria</td>    
    <td>Germany</td> 
    <th><button>Cancella</button></th>
    </tr>
    <tr>
    <td>Island Trading</td>
    <td>Helen Bennett</td>
    <td>UK</td>
    <td>Germany</td> 
    <th><button>Cancella</button></th>
    </tr>
    <tr>
    <td>Laughing Bacchus Winecellars</td>
    <td>Yoshi Tannamuri</td>
    <td>Canada</td>    
    <td>Germany</td> 
    <th><button>Cancella</button></th>
    </tr>
    <tr>
    <td>Magazzini Alimentari Riuniti</td>
    <td>Giovanni Rovelli</td>
    <td>Italy</td>
    <td>Germany</td> 
    <th><button>Cancella</button></th>
  -->
    </tr>

</table>
<br>
<% prenotazione.forEach( p => { %>
  <div><%= p.data %></div>
<% }) %>