
<h2>Prenota la tua manutenzione</h2>
<form action="/storico" method="POST">
    <label>Data</label>
    <input type="date" name="dataPrenotazione" value="<%= prenotazione.dataPrenotazione %>"></input>
    <a href="/storico">Annulla</a>
    <button type="submit">Crea prenotazione</button>
</form>